.button {
  padding: 10px 25px;
  height: 46px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.active {
  background-color: #9dc1ff;
}